DATABASE_URL=postgres://postgres:postgres@127.0.0.1/issuer-backend
ISSUER_ORIGIN=https://issuer.sandbox.air3.com
AIR_API_ORIGIN=https://air.api.sandbox.air3.com
MOCA_CHAIN_API_ORIGIN=https://api.sandbox.mocachain.org
SEED=SEED_FOR_ISSUER

IDEN3_METHOD=air
IDEN3_BLOCKCHAIN=id
IDEN3_NETWORK_ID=testnet

PARTNER_ID=PARNTER_ID
PARTNER_PRIVATE_KEY_KID=PARTNER_PRIVATE_KEY_KID
PARTNER_PRIVATE_KEY_ALG=RS256
PARTNER_PRIVATE_KEY_DER=PRIVATE_KEY_DER_FORM

SD_JWT_HASH_ALG=sha-256

API_KEY=secret
ADMIN_API_KEY=admin-secret
