DATABASE_URL=postgres://postgres:postgres@127.0.0.1/issuer-backend
ISSUER_ORIGIN=http://localhost:3000
MOCA_CHAIN_API_ORIGIN=https://api.staging.mocachain.org
SEED=0xc376a935d5b850bfad109f684312d1ddb8a2889c9516aa8d219da8595aef8341

PARTNER_ID=c6894499-084d-42cc-9728-2f010d8dc5aa
PARTNER_PRIVATE_KEY_KID=JWKS_KID
PARTNER_PRIVATE_KEY_ALG=RS256
PARTNER_PRIVATE_KEY_DER=PRIVATE_KEY_DER_FORM

API_KEY=secret
ADMIN_API_KEY=admin-secret
