DATABASE_URL=postgres://postgres:postgres@127.0.0.1/issuer-backend
ISSUER_ORIGIN=http://localhost:3000
SEED=0xc376a935d5b850bfad109f684312d1ddb8a2889c9516aa8d219da8595aef8341

API_KEY=secret
ADMIN_API_KEY=admin-secret
